.header {

    height: 70px;

    background: var(--white);

    border-bottom: 1px solid #eee;

    padding: 0 25px;

    display: flex;

    justify-content: space-between;

    align-items: center;
}

.header-user {

    display: flex;

    align-items: center;

    gap: 15px;
}

.header-user a {

    color: var(--danger);

    font-weight: bold;
}

/* =========================
   PAGE HEADER
========================= */

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.page-title h1 {
    font-size: 30px;
    margin-bottom: 4px;
}

.page-title p {
    font-size: 15px;
    color: var(--muted);
}